*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;

    /*Ayuda visual. Comentar al terminar*/
/*     border: 0.1px dashed red;  */
}

/*paleta de colores. Comentar en HTML al terminar*/
#color01,#color02,#color03,#color04,#color05{color:#FFFFFF}
#color01{background-color:#8B48BF}
#color02{background-color:#3CDDF3}
#color03{background-color:#1E1E26}
#color04{background-color:#232851}
#color05{background-color:rgb(249, 249, 249)}


.flex-hd{
/*este Flex es para el header. NO modificará su direction al cambiar el viewport*/
    display: flex;
}
.flex{
/*este Flex general. Modificará su direction al cambiar el viewport. de row -> column.*/
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.just-right{
    text-align: right;
}

.just-center{
    text-align: center;
}

/* h1{

}
h2{

}
h3{
    
} */
h4{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #1E1E26;
}
/*======Elementos del Header (y otros relacionados)=====*/
header{
/*Header fijo en la parte superior.*/
    position:fixed;
    top:0;
    width: 100vw;
    height: 6rem;
    justify-content: space-around;
    align-items: center;
    font-size:0.8rem;
    font-weight: 500;
    color:#232851;
    background-color:rgb(249, 249, 249);
}

a{
    text-decoration: none;
    color:inherit;
}

ul{
    list-style-type: none;
}

li a{
    text-align: center;
    margin: 0 1rem;
    transition: all 500ms ;
}
li a:hover{
    opacity: 60%;
}

.hamburger{
    display: none;
}

.btn{
    width: 10rem;
    height: 3rem;
    cursor:pointer;
    transition: all 500ms ;
}

.btn:hover{
    opacity: 70%;
}


.capsule{
    background-color: #8B48BF;
    border: none;
    border-radius: 3rem;
    text-align: center;
    color:rgb(249, 249, 249);
}
.capsule02{
    background-color: rgb(249, 249, 249);
    border: none;
    border-radius: 3rem;
    text-align: center;
    color:#8B48BF;
}

.shadow{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}


.doble-col{
    column-count: 2;
    column-gap: 10vw;
}

/*=====Elementos del Main (y otros relacionados)======*/
main{
    /*desplazar main hacia abajo segun height del header*/
        margin-top: 6rem;
        background-color: rgb(249, 249, 249);
    }

.keep-width{
    width: 100%;
}



/*Padding que serán modificados segun desktop-mobile.
A: pasa de 180px Desk a ~60px mobile
B: pasa de 180px desk a ~60px izq// 0 der mobile
C: pasa de 72px desk a ~18px mobile*/

.padding-A, .padding-B{
/*variable según tamaño del viewport, hasta un maximo de 180px*/
    padding:0 min(180px, 12.5vw);

}

.padding-C{
/*variable según tamaño del viewport, hasta un maximo de 72px*/
    padding:0 min(72px, 5vw);
}

.banner{
    justify-content: space-between;
    background-color: #8B48BF;
    padding: 2rem 220px;
    color: rgb(249, 249, 249);
}


.hemisferio{
    width:50%;
}

.hemi-der{
    padding-left: 100px;

}

.card01-cont{
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fafafa;
}

.card01{
  
    width: 40%;
    padding: 1rem;
}

.card01-header{
    align-items: center;
}
.card01-header-text{
    padding-left: 2rem;
}

.card01-text{
    padding-left:6rem;
    color:#B3B2B7;
}

span.capsule{ 
    width:4rem;
    padding: 0.6rem 0;
    align-items: center;
}

.card02{
    position:relative;
    
    margin-top:100px;
    padding-top: 56px;
    background-color: #fafafa;
}
.bubble{
    position:absolute;
    left:50%;
    translate: -50% -120%;
}
.card02-text{
    padding:21px;
    color:#B9B9C1;
    font-weight: 500;
}
/*=======footer=======*/
footer{
    background-color:#1E1E26;
    color: rgb(249, 249, 249);    
}

.organize{
    justify-content: space-around;
}

/*este es el id del logo descargado desde figma. se debe ajustar a 110px de ancho*/
#ord-AA{
    width: 110px;
}

.ft-end{
    text-align: end;
    margin-right:160px;
}



@media screen and (max-width: 480px){
    .flex{
        flex-direction: column;
    }
    .padding-A{
        padding:0 60px;
    }
    .padding-B{
        padding: 0 0 0 60px;
    }
    .padding-C{
        padding: 0 18px;
    }

    .hemisferio{
        width: 100%;
    }
    .hemi-der{
        padding-left: 0px;
    }
}