*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;


    /*Ayuda visual. Comentar al terminar*/
    /* border: 0.1px dashed red; */ 
}
.flex-hd{
/*este Flex es para el header. NO modificará su direction al cambiar el viewport*/
    display: flex;
}
.flex{
/*este Flex general. Modificará su direction al cambiar el viewport. de row -> column.*/
    display: flex;
    ;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.just-right{
    text-align: right;

}

h1{

}
h2{

}
h3{
    text-align: center;
}
h4{

}
/*======Elementos del Header (y otros relacionados)=====*/
header{
/*Header fijo en la parte superior.*/
    position:fixed;
    top:0;
    width: 100vw;
    height: 6rem;
    justify-content: space-around;
    align-items: center;
    font-size:0.8rem;
    font-weight: 500;
    color:#232851;
    background-color:white;
}

a{
    text-decoration: none;
    color:inherit;
}

ul{
    list-style-type: none;
}

.hd-link a{
    text-align: center;
    margin: 0 1rem;
    transition: all 100ms;
}
.hd-link a:hover{
    opacity: 60%;
}

.hamburger{
    display: none;
}

button{
    width: 10rem;
    height: 3rem;
    cursor:pointer;
}

button:hover{
    opacity: 70%;
    
}

.capsule{
    background-color: #8B48BF;
    border: none;
    border-radius: 3rem;
    text-align: center;
    color:#FFFFFF;
}

.shadow{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}


.doble-col{
    column-count: 2;
    column-gap: 10vw;
}

/*=====Elementos del Main (y otros relacionados)======*/
main{
    /*desplazar main hacia abajo segun height del header*/
        margin-top: 6rem;
        background-color: white;
    }

.keep-width{
    width: 100%;
}

/*ambos tienen mismo pading lateral en desktop.
A: pasa de 180px Desk a ~60px mobile
B: pasa de 180px desk a ~60px izq// 0 der mobile*/
.padding-A, .padding-B{
    padding:0 180px;
}
.banner{
    justify-content: space-between;
    background-color: #8B48BF;
    padding: 2rem 220px;
}


.hemisferio{
    width:50%;
}

.hemi-der{
padding-left: 100px;

}

.card01-cont{
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fafafa;
}

.card01{
  
    width: 40%;
    padding: 1rem;
}

.card01-header{
    align-items: center;
}
.card01-header-text{
    padding-left: 2rem;
}

.card01-text{
    padding-left:6rem;
}

span.capsule{ 
    width:4rem;
    padding: 0.6rem 0;
    align-items: center;
}
.card02{
    position:relative;
    height: 220px;
    margin-top:100px;
    padding-top: 56px;
    background-color: #fafafa;
}
.bubble{
    position:absolute;
    left:50%;
    translate: -50% -120%;
}



@media screen and (max-width:480px){
    .flex{
        flex-direction: column;
    }
    .padding-A{
        padding:0 60px;
    }
    .padding-B{
        padding: 0 0 0 60px;
    }

    .hemisferio{
        width: 100%;
    }
    .hemi-der{
        padding-left: 0px;
    }
}