/*||||||||ESTILOS GENERALES|||||||*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;

    /*Ayuda visual. Comentar al terminar*/
    /* border: 0.1px dashed red */; 
}

/*paleta de colores. Comentar en HTML al terminar*/
#color01,#color02,#color03,#color04,#color05{color:#FFFFFF}
#color01{background-color:#8B48BF}
#color02{background-color:#3CDDF3}
#color03{background-color:#1E1E26}
#color04{background-color:#232851}
#color05{background-color:rgb(249, 249, 249)}


.flex-hd{
/*este Flex es para el header. NO modificará su direction al cambiar el viewport*/
    display: flex;
}

.flex{
/*este Flex general. Modificará su direction al cambiar el viewport. de row -> column.*/
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.just-right{
    text-align: right;
}

.just-center{
    text-align: center;
}

h1{
    font-size: 50px;
    font-weight: 700;
    color:#232851; 
}

h2{
    font-size: 36px;
    font-weight: 700;
    
}

h3{
    font-size: 39px;
    font-weight: 700;
    color:#232851
}

h4{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #232851;
}


/*.. Padding que serán modificados segun desktop->mobile ..
A: pasa de 180px Desk a ~60px mobile
B: pasa de 180px desk a ~60px izq// 0 der mobile
C: pasa de 72px desk a ~18px mobile*/
.padding-A, .padding-B{
    /*variable según tamaño del viewport, hasta un maximo de 180px*/
    padding-left: min(180px, 12.5vw);
    padding-right: min(180px, 12.5vw);
}
    
.padding-C{
    /*variable según tamaño del viewport, hasta un maximo de 72px*/
    padding-left: min(72px, 5vw);
    padding-right: min(72px, 5vw);
}


/*======Elementos del Header (y otros relacionados)=====*/
header{
/*Header fijo en la parte superior.*/
    position:fixed;
    z-index: 10;
    top:0;
    width: 100vw;
    height: 6rem;
    justify-content: space-around;
    align-items: center;
    font-size:0.8rem;
    font-weight: 500;
    color:#232851;
    background-color:rgb(249, 249, 249);
}

a{
    text-decoration: none;
    color:inherit;
}

ul{
    list-style-type: none;
}

li a{
    text-align: center;
    margin: 0 1rem;
    transition: all 500ms ;
}

li a:hover{
    opacity: 60%;
}

.hamburger{
    display: none;
}

.hamburger:hover{
    opacity: 60%;
}

.btn{
    width: 10rem;
    height: 3rem;
    cursor:pointer;
    transition: all 500ms;
    animation-timing-function: linear;
}
/*<<<<<<<<<<<< A N I M A C I Ó N >>>>>>>>>*/
.btn:hover{
    opacity: 70%;
    animation-name: animacion-02;
    animation-duration: 120ms;
    animation-iteration-count: infinite;   
    opacity:80%
}

.btn-form{
    width:4.5rem;
}

.capsule{
    background-color: #8B48BF;
    border: none;
    border-radius: 3rem;
    text-align: center;
    color:rgb(249, 249, 249);
}

.capsule02{
    background-color: rgb(249, 249, 249);
    border: none;
    border-radius: 3rem;
    text-align: center;
    color:#8B48BF;
}

.shadow{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}



/*=====Elementos del Main (y otros relacionados)======*/
main{
    /*desplazar main hacia abajo segun height del header*/
        margin-top: 6rem;
        background-color:white;
}

    /*...Sobre Mex Open...*/
.hemisferio{
    width:50%;
    align-self:center ;
}

.hemi-der{

    padding-left: 100px;

}
.ctn-01{
    padding-top: 6rem;
    padding-bottom: 6rem;

}  

/* Afecta unicamente al hemisferio derecho del contenedor01*/
.ctn-01 .hemi-der{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
}

.keep-width{
    width: 100%;
}

    /*..banner sobre los PRO..*/
.banner{
    justify-content: space-between;
    background-color: #8B48BF;
    padding: 40px min(220px, 15.3vw);
    color: rgb(249, 249, 249);
}

.banner-text{
    font-weight: 500;
    line-height: 24.18px;
}
    /*..tarjetas sobre los PRO..*/
.card01-cont{
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fafafa;
    padding:46.5px 0;
}

.card01{
    width: 40%;
    padding: 1rem;
}

.card01-header{
    align-items: center;
}

.card01-header-text{
    padding-left: 2rem;
    padding-top:0.6rem;
    padding-bottom:0.6rem;
}

.card01-text{
    padding-left:6rem;
    color:#B3B2B7;
}
    /*..tarjetas mejores del mes..*/
span.capsule{ 
    width:4rem;
    padding: 0.6rem 0;
    align-items: center;
}

.card02{
    position:relative;
    margin-top:100px;
    padding-top: 56px;
    background-color: #fafafa;
}

.bubble{
    position:absolute;
    left:50%;
    translate: -50% -120%;
}

.card02-text{
    padding:21px;
    color:#B9B9C1;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.best-btn{
    margin: 45px 0 180px;
}

/*=======footer=======*/
footer{
    background-color:#1E1E26;
    color: rgb(249, 249, 249);
    padding: 40px min(170px, 11.8vw);
}

.organize{
    justify-content:space-between;
}

/*este es el id del logo descargado desde figma. se debe ajustar a 110px de ancho*/
#ord-A{
    padding:12px 0;
}

#ord-AA{
    width: 110px;
}


.doble-col{
    width: max(344px, 27.3vw);
    height: 184px;
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
}

#ord-B li{
    width: max(150px, 40%);
    margin:12px 0;
}

#ord-C{
    width:272.81px;
    display: flex;
    justify-content: space-between;
}

#email{
    height: 3rem;
    width: 73.6%;
    padding:0 1rem;
}

.btn-form{
    width: 23%;
}

.ft-end{
    text-align: end;
    font-size: 12.5px;
    font-weight: 500;
    color: #8C8C94;
}

.ic-rrss{
    animation-timing-function: ease-in-out;
}
/*<<<<<<<<<<<< A N I M A C I Ó N >>>>>>>>>*/
.ic-rrss:hover{
    animation-name: animacion-01;
    animation-duration: 800ms;
    opacity:80%
}



@media screen and (max-width: 480px){
    /* lo que era flex row, pasa a ser flex column*/
    .flex{
        flex-direction: column;
    }
    .padding-A{
        padding-left:40px;
        padding-right:40px;
    }
    .padding-B{
        padding-left: 34px;
        padding-right: 0px;
    }
    .padding-C{
        padding-left: 18px;
        padding-right: 18px;
    }
    .hemisferio{
        width: 100%;
    }
    .hemi-der{
        padding-left: 0px;
    }
    .mobile-hidden{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .ctn-01{
        row-gap: 100px;
    }

    .banner-pro{
        padding: 40px 20px;
    }

    .card01{
        width: 100%;
        padding: 1rem 0;
    }
        .card01-header{
        margin-left: 20px;
        background-color: rgba(139, 72, 191, 0.3);
        position:relative;
        }
        .card01-header .capsule{
        position:absolute;
        left:-20px;    
        }
        .card01-header-text{
         padding-left: 3.5rem;
        }
        .card01-text{
        padding-left:10px;
        padding-right: 28px;
        padding-top: 31px;
        }

    button.capsule02.btn{
        background-color: #232851;
        color:#fafafa;
    }
    .banner{
        background-color: #3CDDF3;
    }
    .art-footer{
        row-gap: 35px;
    }
    .art-footer h2{
        text-align: center;
    }

    footer{
        padding:40px 50px;
    }
    footer .organize{
        row-gap: 35px;
    }
    
    #ord-C{
        order:-1;
        width: 100%;
    }
    #ord-B{
        order:0;
        width: 100%;
     
    }
    #ord-A{
        order:1;
    }
    #ord-AB{
        order:-1;
        display:flex;
        width: 100%;
        justify-content: space-between;
    }
    .ft-end{
        text-align: center;
    }
}